/node_modules
/public/storage
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
.env
/Gladiator/nbproject/private/
/nbproject/private/
/nbproject
/app/Http/Controllers/test01Controller.php
/public/css/test.css
/resources/views/test01.blade.php
public/js/gacha.js
