.atkUpProbability_all{
    position	: initial;
    top		: 5%;
    left	: 0%;
    width	: 100%;
    text-align	: center;
}

.table_list{
    position : relative;
    width    : 100%;
    font-size: 70%
}

.goo_icon{
    width   : 7%;
	margin-left: 28%;

}

.cho_icon{
    width: 7%;
    margin-left: 14%;
}

.paa_icon{
    width   : 7%;
	margin-left: 13%;
}

.title_text{
    position : relative;
}

.cntProbability_text{
    position	    : relative;
    border-bottom   : solid 10px transparent;
}

.upProbability_text{
    position : relative;
}

.img_list{
    position: relative;
}

.atkUpProbability_font_serif{
    font-family	: serif;
    font-size	: 2.0vh;
    color	: #ffffff;
    width	: 100%;
}