@charset "UTF-8";
/*CSS Document*/
/*training*/

/* 各級の背景画像 */
.battle_background1 {
    background-image: url("http://esmile-sys.sakura.ne.jp/gladiator/img/battle/battleBg1.png");
    
    /* 画像を常に天地左右の中央に配置 */
	background-position: center center;
   
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;
   
	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;
   
	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;

    width: 100%;
}
.battle_background2 {
    background-image: url("http://esmile-sys.sakura.ne.jp/gladiator/img/battle/battleBg2.png");
    background-size: cover;
    width: 100%;
}
.battle_background3 {
    background-image: url("http://esmile-sys.sakura.ne.jp/gladiator/img/battle/battleBg3.png");
    background-size: cover;
    width: 100%;
}

/* ダメージログ */
.damage_Log {
    position: absolute;
    bottom: 50%;
    left: 10%;
    color: #fff;
    background: rgba(0,0,0,.6);
    width: 80%;
    padding: 1em 0;
}
.damage_Log p{
    margin: 0;
    padding: 0 0.8em;
    font-size: 150%;
    text-align: center;
}

/* 敵キャラステータス */
.enemy_Status {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    background: rgba(0,0,0,.6);
    width: 80%;
    padding: 1em 0;
}
.enemy_Status p{
    margin: 0;
    padding: 0 0.8em;
    font-size: 150%;
    text-align: center;
}

/* 自キャラステータス */
.player_Status {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #fff;
    background: rgba(0,0,0,.6);
    width: 80%;
    padding: 1em 0;
}
.player_Status p{
    margin: 0;
    padding: 0 0.8em;
    font-size: 150%;
    text-align: center;
}

.difficulty{
    position: absolute;
    top: 1%;
    left: 1%;
}

.help{
    position: absolute;
    top: 1%;
    right: 1%;
}

.surrender{
    position: absolute;
    top: 1%;
    right: 20%;
}

.player_Bar {
    height: 1%;
}

#trainig_content{
    width: 100%;
    max-width: 640px;
    height: 400px;
    margin: 16px auto 0 auto;
    background-color: aliceblue;
}

#trainig_content p{
    display: inline;
    width: 100%;
    max-width: 640px;
    vertical-align: middle;
}
