/*闘技場のリスト*/
.arena_list{
	margin-top: 5vh;
	margin-left: 5vw;
	width: 90%;
	position: absolute;
	top: 15%;
	left: 0;
	text-align: center;
}
/*難易度のバナー*/
.arena_banner1{
	border-bottom: solid 10px transparent;
}
.arena_banner2{
	border-bottom: solid 10px transparent;
}
.arena_banner3{
	border-bottom: solid 10px transparent;
}
/*見出しの設定*/
.caption_font{
	font-family: serif;
	font-size: 150%;
	color: #FFFFFF;
}
/*看板の設定*/
.signboard_img{
	width: 35%;
	position: fixed;
	top: 13%;
	left: 0;
	z-index: 2;
}
/*ポップアップ画面内の領域を設定する*/
.match_data{
	margin-top: 10%;
	margin-left: 10%;
}
/*ポップアップの決定ボタン*/
.popup_decision_button{
	width: 100%;
}
/*大会名の表示*/
.arena_name{
	position: absolute;
    left: 33%;
    top: 4vh;
    text-align: left;
    font-size: 7vw;
}
.arena_name_caption{
	position: absolute;
    left: 12%;
    top: 1vh;
    text-align: left;
    font-size: 4vw;
}
/*出場するキャラのキャプション*/
.select_chara_caption{
	position: absolute;
    left: 12%;
    top: 15vh;
    text-align: left;
    font-size: 4vw;
}
/*キャラクターの位置*/
.popup_cahra_position{
	top: 21vh;
    left: 8%;
    position: absolute;
}
/*サイズ*/
.popup_chara_size{
	position: relative;
    width: 88%;
}
/*決定ボタンの位置*/
.submit_button{
	position: absolute;
    top: 41vh;
    left: 29%;
    width: 44%;
    height: auto;
}
/*キャラの名前*/
.popup_chara_name{
	position: absolute;
	font-size: 4vw;
	top: 7%;
	left: -2%;
}
/*HPの値の設定*/
.popup_hp_value{
	position: absolute;
	font-size: 3.7vw;
	top: 52%;
	left: -4%;
}
/*手の値の設定*/
.popup_goo_value{
	position: absolute;
	font-size: 3.7vw;
	top: 52%;
	left: 21%;
}
.popup_cho_value{
	position: absolute;
	font-size: 3.7vw;
	top: 52%;
	left: 45%;
}
.popup_paa_value{
	position: absolute;
	font-size: 3.7vw;
	top: 52%;
	left: 69%;
}
