@charset "UTF-8";
/*CSS Document*/
/*training*/
body{}

/* 各級の背景画像 */
.battle_background {
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;
   
	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;
   
	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
    
    width: 100%;
}

/* ヘッダーの領域 */
.battle_hedder {
    position: absolute;
    top: 0%;
    width: 100%;
}

/* 全体画面に対する、敵キャラステータスの領域 */
.battle_enemy_status {
    position: absolute;
    top: 7%;
    width: 100%;
}
/* 敵キャラステータスの背景(バー) */
.battle_enemy_status_bar {
    width: 100%;
}
/* 敵キャラのアイコン領域 */
.battle_enemy_status_icon {
    position: absolute;
    top: -20%;
    left: 1%;
    width: 20%;
}
/* 敵キャラのHP */
.battle_enemy_status_hp{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 80%;
    color: #ffffff;
    font-size: 15px;
}
/* 敵キャラの攻撃力 */
.battle_enemy_status_atk{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 80%;
    color: #ffffff;
    font-size: 15px;
}

/* 全体画面に対する、敵キャラの手部分の領域 */
.battle_enemy_hand {
    position: absolute;
    left: 35%;
    top: 17%;
    width: 30%;
}
/* 敵キャラの手部分の背景 */
.battle_enemy_hand_bg {
    width: 100%;
}
/* 敵キャラの手のアイコン */
.battle_enemy_hand_icon{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%; 
}

/* 全体画面に対する、ダメージログの領域 */
.damage_log {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
}
/* ダメージログの背景(枠) */
.damage_log_Bg {
    width: 100%;
}
/* ダメージログのログ部分(文字) */
.damage_log_message{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    color: #ffffff;
    font-size: 13px;
}

/* 全体画面に対する、ボタン領域(全体) */
.battle_playerhand_button{
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 80%;
}
/* ボタン領域に対する、ボタン背景(枠) */
.battle_playerhand_button_bg{
    width: 100%;
}
/*  ボタン領域に対する、グーボタンの領域 */
.battle_playerhand_button_goo_linkregion{
    position: absolute;
    left: 38.5%;
    bottom: 34%;
    width: 23%;
}
/* ボタン領域に対する、チョキボタンの領域 */
.battle_playerhand_button_cho_linkregion{
    position: absolute;
    right: 4%;
    bottom: 9%;
    width: 23%;
}
/* ボタン領域に対する、パーボタンの領域 */
.battle_playerhand_button_paa_linkregion{
    position: absolute;
    left: 4%;
    bottom: 9%;
    width: 23%;
}
/* 各ボタン領域に対する、ボタンアイコン*/
.battle_playerhand_button_icon{
    width: 100%;
}

/*自キャラステータス*/
.battle_player_status {
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.battle_player_status_bar {
    width: 100%;
}
.battle_player_status_icon {
    position: absolute;
    top: -18%;
    right: 2%;
    width: 20%;
}
/* 自キャラのHP */
.battle_player_status_hp{
    position: absolute;
    bottom: 50%;
    left: 5%;
    width: 80%;
    color: #ffffff;
    font-size: 15px;
}
/* 自キャラの攻撃力 */
.battle_player_status_atk{
    position: absolute;
    bottom: 30%;
    left: 5%;
    width: 80%;
    color: #ffffff;
    font-size: 15px;
}