@charset "UTF-8";
/*
 * 戦闘のキャラ選択ビュー
 * 製作者：松井 勇樹
 * 最終更新日:2017/05/29
 */
 /*背景の設定をする*/
body{
	background-image: url(http://esmile-sys.sakura.ne.jp/gladiator/img/battle/chara_select_bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}
/*リンクの文字色の設定をする*/
a:link{
	color: #FFFFFF;
	text-decoration: none;
}
a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
a:active{
	color: #FFFFFF;
	text-decoration: none;
}
/*キャラの表示位置の設定*/
.chara_list{
	margin-top: 21vh;
	margin-left: 2%;
	margin-right: 2%;
}
/*看板の設定*/
.signboard_img{
	width: 35%;
	position: fixed;
	top: 13%;
	left: 0;
	z-index: 2;
}
/*キャラボタン同士の間隔を設定する*/
.button_margin{
	margin-bottom: 5%;
}
/*キャラボタンの設定*/
.chara_button{
	position: relative;
	width: 93%;
}
/*キャラボタンの下地の設定*/
.chara_button_frame_img{
	width: 104%;
	height: auto;
}
/*キャラアイコンの設定*/
.chara_icon{
	position: absolute;
	margin-top: -4.6%;
	margin-left: 9%;
	width: 28%;
	height: 74%;
	top: 0%;
	left: 0%;
}
/*アイコンの外枠の設定*/
.icon_frame{
	position: relative;
	width: 93%;
	top: 0%;
	left: 0%;
}
.icon_frame_margin{
	margin-top: 16%;
}
/*キャライメージ*/
.chara_image{
	position: absolute;
	width: 88%;
	top: 0%;
	left: 0%;
}
/*レアリティの表示*/
.rarity_bg{
	margin-top: 66%;
	position: absolute;
	width: 56%;
	height: auto;
	top: 0%;
	left: -11%;
}
.rarity{
	position: absolute;
	width: 20%;
	height: auto;
	top: 0%;
	left: 7%;
	margin-top: 85%;
}
/*キャラクターのステータスの表示*/
.chara_status{
	position: absolute;
	width: 77%;
	height: 107%;
	margin-left: 35%;
	top: 0%;
	left: 0%;
}
/*キャラの名前*/
.chara_name{
	position: absolute;
    font-size: 5vw;
    top: 7%;
    left: 4%;
}
/*HPアイコンの幅*/
.hp_icon{
	margin-top: 12.9%;
    position: absolute;
    width: 9%;
    left: 6.5%;
}
/*HPの値の設定*/
.hp_value{
	position: absolute;
    font-size: 5vw;
    top: 29%;
    left: 17%;
}
/*手のアイコンの幅*/
.goo_icon{
	margin-top: 24%;
	position: absolute;
	width: 9%;
	left: 0%;
}
.cho_icon{
	margin-top: 24%;
	position: absolute;
	width: 9%;
	left: 27%;
}
.paa_icon{
	margin-top: 24%;
	position: absolute;
	width: 9%;
	left: 56%;
}
/*手の値の設定*/
.goo_value{
	position: absolute;
	font-size: 4vw;
	top: 57%;
	left: 10%;
}
.cho_value{
	position: absolute;
	font-size: 4vw;
	top: 57%;
	left: 37%;
}
.paa_value{
	position: absolute;
	font-size: 4vw;
	top: 57%;
	left: 66%;
}
/*fontをCenturyに変更する*/
.font_sentury{
	font-family: Century;
}
/*fontをserifに変更する*/
.font_serif{
	font-family: serif;
}
.font_color_green{
	color: #7FFF7E;
}
