@charset "UTF-8";
/*
 * 戦闘のキャラ選択ビュー
 * 製作者：松井 勇樹
 * 最終更新日:2017/05/25
 */
 /*背景の設定をする*/
 body{
	background-image: url(http://esmile-sys.sakura.ne.jp/gladiator/img/battle/chara_select_bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}
/*リンクの文字色の設定をする*/
a:link{
	color: #FFFFFF;
	text-decoration: none;
}
a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
a:active{
	color: #FFFFFF;
	text-decoration: none;
}
/*キャラボタンの設定*/
.chara_button{
	position:relative;
	width: 100%;
	height: auto;
	border-top: solid 5px transparent;
	border-bottom: solid 5px transparent;
}
/*キャラボタンの枠を設定する*/
.chara_frame{
	position:relative;
	width: 97%;
	height: auto;
	top: 10%;
}
/*キャラボタンの枠のイメージのサイズを設定する*/
.chara_frame_img{
	width: 102%;
	height: 12vh;
}
/*キャラのアイコンを設定する*/
.chara_icon{
	position: absolute;
	top: -21%;
	left: 5%;
	width: 20%;
	height: auto;
}
/*キャラ名の表示設定をする*/
.chara_name{
	position: absolute;
	font-size: 2.1vh;
	top: 30%;
	left: 24%;
	font-family: serif;
}
/*キャラクターの手のアイコンを設定する*/
.strongest_hand{
	position: absolute;
	width: 15%;
	top: 11%;
	left: 67%;
}
