#main{
	background-image:
		url(/./../img/gacha/selectbackground.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
/*闘技場のリスト*/
.arena_list{
	margin-top: 5vh;
    margin-left: 5vw;
    width: 90%;
    position: absolute;
    top: 15%;
    left: 0;
    text-align: center;
}
/*難易度のバナー*/
.arena_banner1{
	border-bottom: solid 10px transparent;
}
.arena_banner2{
	border-bottom: solid 10px transparent;
}
.arena_banner3{
	border-bottom: solid 10px transparent;
}
/*見出しの設定*/
.caption_font{
	font-family: serif;
	font-size: 150%;
	color: #FFFFFF;
}
/**/
.popup_decision_button{
	width: 30%;
}
/*看板の設定*/
.signboard_img{
	width: 35%;
	position: fixed;
	top: 13%;
	left: 0;
	z-index: 2;
}
