#main{
	background-image:
		url(http://esmile-sys.sakura.ne.jp/gladiator/img/gacha/selectbackground.png);
	/* 画像を常に天地左右の中央に配置 */
	background-position: center center;
   
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;

	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
	
	width: 100%;
}
.battle_select{
	width: 125%;
	border-bottom: solid 10px transparent;
}

