@charset "UTF-8";
body{}

/* 各級の背景画像 */
.battle_bg {
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;

	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;

	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;

	width: 100%;

	height: 100vh;
}

/* ヘッダーの領域 */
.battle_hedder {
	position: absolute;
	top: 0%;
	width: 100%;
}

/* 全体画面に対する、敵キャラステータスの領域 */
.battle_enemy_status {
	position: absolute;
	top: 7%;
	width: 100%;
}
/* 敵キャラステータスの背景(バー) */
.battle_enemy_status_bar {
	width: 100%;
}
/* 敵キャラのアイコン領域 */
.battle_enemy_status_icon {
	position: absolute;
	top: -20%;
	left: 3%;
	width: 20%;
}
/* 敵キャラのHPバー領域 */
.battle_enemy_status_hp_bar_ragion{
	position: absolute;
	top: 10%;
	right: 1%;
	width: 80%;
	height: 15%;
}
/* 敵キャラのHPバーの枠 */
.battle_enemy_status_hp_bar_flame{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
}
/* 敵キャラのHP */
.battle_enemy_status_hp_bar{
	position: absolute;
	top: 25%;
	left: 1%;
	width: 97.5%;
	height: 75%;
}

/* 敵キャラのHPログ */
.battle_enemy_status_hp{
	position: absolute;
	top: 25%;
	right: 5%;
	width: 70%;
	color: #ffffff;
	font-size: 4vw;
	text-align: right;
}
/* 敵キャラのHPのステータスアイコン */
.battle_enemy_status_hp_img{
	width: 100%;
}
/* 敵キャラの攻撃力 */
.battle_enemy_status_atk{
	position: absolute;
	top: 45%;
	right: 5%;
	width: 70%;
	color: #ffffff;
	font-size: 5vw;
	text-align: right;
}
/* 敵キャラのグーのステータスアイコン */
.battle_enemy_status_atk_goo_img{
	width: 100%;
}
/* 敵キャラのチョキのステータスアイコン */
.battle_enemy_status_atk_cho_img{
	width: 100%;
}
/* 敵キャラのパーのステータスアイコン */
.battle_enemy_status_atk_paa_img{
	width: 100%;
}

/* 全体画面に対する、敵キャラの手部分の領域 */
.battle_enemy_hand {
	position: absolute;
	left: 35%;
	top: 18%;
	width: 30%;
}
/* 敵キャラの手部分の背景 */
.battle_enemy_hand_bg {
	width: 100%;
}
/* 敵キャラの手のアイコン */
.battle_enemy_hand_img{
	position: absolute;
	left: 9%;
	top: 10%;
	width: 80%; 
}

/* 全体画面に対する、ダメージログの領域 */
.battle_log {
	position: absolute;
	top: 37%;
	left: 5%;
	width: 90%;
}
/* ダメージログの背景(枠) */
.battle_log_Bg {
	width: 100%;
}
/* ダメージログのログ部分(文字) */
.battle_log_message{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90%;
	color: #ffffff;
	font-size: 3.7vw;
}
/* 勝った時の文字色(赤) */
.battle_log_message_win{
	color: #ff4444;
}
/* 勝った時の文字色(青) */
.battle_log_message_lose{
	color: #005FFF;
}
/* 勝った時の文字色(黄) */
.battle_log_message_draw{
	color: #FFA500;
}

/* 全体画面に対する、ボタン領域(全体) */
.battle_playerhand_button{
	position: absolute;
	bottom: 15%;
	left: 10%;
	width: 80%;
}
/* ボタン領域に対する、ボタン背景(枠) */
.battle_playerhand_button_bg{
	width: 100%;
}
/*  ボタン領域に対する、グーボタンの領域 */
.battle_playerhand_button_goo_linkregion{
	position: absolute;
	left: 4%;
	bottom: 9%;
	width: 23%;
}
/* ボタン領域に対する、チョキボタンの領域 */
.battle_playerhand_button_cho_linkregion{
	position: absolute;
	left: 39%;
	bottom: 33%;
	width: 23%;
}
/* ボタン領域に対する、パーボタンの領域 */
.battle_playerhand_button_paa_linkregion{
	position: absolute;
	right: 4%;
	bottom: 9%;
	width: 23%;
}
/* ボタン領域に対する、キャラボタンの領域 */
.battle_playerhand_button_chara_linkregion{
    position: absolute;
    right: -1%;
    bottom: 118%;
    width: 100%;
}
/* スキル枠 */
.battle_player_skill_frame{
	position: absolute;
    top: 30%;
    right: 0%;
    width: 21%;
    z-index: 1;
}
/* スキルターンフォント */
.battle_player_skill_turn{
    font-size: 8vw;
    position: absolute;
    top: 48%;
    right: 4%;
    z-index: 2;
    font-family: fantasy;
    color: white;
}
/* 各ボタン領域に対する、ボタンイメージ*/
.battle_playerhand_button_img{
	width: 100%;
}

/* 全体画面に対する、バトルリザルトボタン領域(全体) */
.battle_battleresult_button{
	position: absolute;
	bottom: 30%;
	left: 35%;
	width: 30%;
}
.battle_battleresult_button_img{
	position: absolute;
	width: 100%;
}

/*自キャラステータス*/
.battle_player_status {
	position: absolute;
	bottom: 1%;
	width: 100%;
}
/* 自キャラステータスの背景(バー) */
.battle_player_status_bar {
	width: 100%;
}
/* 敵キャラのHPバー領域 */
.battle_player_status_hp_bar_ragion{
	position: absolute;
	bottom: 15%;
	left: 1%;
	width: 80%;
	height: 15%;
}
/* 敵キャラのHPバーの枠 */
.battle_player_status_hp_bar_flame{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
}
/* 自キャラのHP */
.battle_player_status_hp_bar{
	position: absolute;
	bottom: 27%;
	right: 1%;
	width: 97.5%;
	height: 75%;
}
/* 自キャラのアイコン領域on */
.battle_player_status_icon_on {
	position: absolute;
	top: -18%;
	right: 3%;
	width: 20%;
}
/* 自キャラのアイコン領域off */
.battle_player_status_icon_off {
	position: absolute;
	top: -18%;
	right: 2%;
	width: 20%;
}
/* 自キャラのHP */
.battle_player_status_hp{
	position: absolute;
	bottom: 55%;
	left: 5%;
	width: 70%;
	color: #ffffff;
	font-size: 4vw;
	text-align: left;
}
/* 自キャラのHP画像 */
.battle_player_status_hp_img{
	width: 100%;
}
/* 自キャラの攻撃力 */
.battle_player_status_atk{
	position: absolute;
	bottom: 30%;
	left: 5%;
	width: 70%;
	color: #ffffff;
	font-size: 5vw;
	text-align: left;
}
/* 自キャラのグーのステータスアイコン */
.battle_player_status_atk_goo_img{
	width: 100%;
}
/* 自キャラのチョキのステータスアイコン */
.battle_player_status_atk_cho_img{
	width: 100%;
}
/* 自キャラのパーのステータスアイコン */
.battle_player_status_atk_paa_img{
	width: 100%;
}
/* スキル確認ポップアップ */
.skill_button{
	width: 36%;
    margin: 0 auto;
    position: relative;
    top: 14vw;
}
/* 攻撃力の上がった場合 */
.battle_gooAtkUpFont{
	color: red;
}
.battle_gooAtkUpArrow{
	position: absolute;
    width: 8%;
	top: 18%;
	animation: UpDown 0.8s linear infinite;
}
/* 攻撃力の上がった場合 */
.battle_choAtkUpFont{
	color: yellow;
}
.battle_choAtkUpArrow{
	position: absolute;
    width: 8%;
	top: 18%;
	animation: UpDown 0.8s linear infinite;
}
/* 攻撃力の上がった場合 */
.battle_paaAtkUpFont{
	color: skyblue;
}
.battle_paaAtkUpArrow{
	position: absolute;
    width: 8%;
	top: 18%;
	animation: UpDown 0.8s linear infinite;
}
/*　上下の回転アニメーション　*/
@keyframes UpDown{
	0% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
	100% {
		transform: translateY(-4px);
		-webkit-transform: translateY(-4px);
	}
}
/* タップアイコン */
.battle_player_icon_tap{
	width: 17%;
    position: absolute;
    right: 4%;
    top: 10vw;
    z-index: 2;
	-webkit-animation:flash 0.7s ease-in-out infinite alternate;
	-moz-animation:flash 0.7s ease-in-out infinite alternate;
	animation:flash 0.7s ease-in-out infinite alternate;
}
/*　点滅アニメーション　*/
@-webkit-keyframes flash{
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes flash{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes flash{
	0% {opacity:0;}
	100% {opacity:1;}
}
.skill_healIcon{
	width: 10%;
    position: absolute;
    top: -195%;
    right: -35%;
}
.skill_healUpIcon{
    width: 5.5%;
    position: absolute;
    top: -154%;
    right: -36%;
    animation: UpDown 0.8s linear infinite;
}
.skill_shieldIcon{
	width: 9%;
    position: absolute;
    top: -195%;
    right: -35%;
}
.skill_shieldUpIcon{
	width: 5.5%;
    position: absolute;
    top: -154%;
    right: -36%;
    animation: UpDown 0.8s linear infinite;
}
.taisya{
	width: 90%;
    position: absolute;
    top: 42%;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
	opacity: 0;
}

.battleItem2{
    width: 80%;
    margin: 0 auto;
}
.battleItem2_itemIcon{
	position: absolute;
	width: 18%;
	left: 16%;
	top: 5%;
}
.battleItem2_name{
	position: absolute;
	top: 4%;
	left: 40%;
	width: 40%;
	color: #ffffff;
	font-size: 4.5vw;
	text-align: center;
}
.battleItem2_abilityInfo{
	position: absolute;
	top: 15%;
	left: 42%;
	width: 45%;
	color: #ffffff;
	font-size: 4.5vw;
	text-align: left;
}
.battleItem2_number{
	position: absolute;
	top: 34%;
	left: 23%;
	width: 30%;
	color: #ffffff;
	font-size: 4.5vw;
	text-align: right;
}
.battleItem2_useButton{
	position: absolute;
	top: 33%;
	left: 60%;
	width: 25%;
}

.battleItem3{
    width: 80%;
    margin: 0 auto;
}
.battleItem3_itemIcon{
	position: absolute;
	width: 18%;
	left: 16%;
	top: 55%;
}
.battleItem3_name{
	position: absolute;
	top: 55%;
	left: 40%;
	width: 40%;
	color: #ffffff;
	font-size: 4.5vw;
	text-align: center;
}
.battleItem3_abilityInfo{
	position: absolute;
	top: 65%;
	left: 42%;
	width: 45%;
	color: #ffffff;
	font-size: 4.5vw;
	text-align: left;
}
.battleItem3_number{
	position: absolute;
	top: 85%;
	left: 23%;
	width: 30%;
	color: #ffffff;
	font-size: 4.5vw;
	text-align: right;
}
.battleItem3_useButton{
	position: absolute;
	top: 84%;
	left: 60%;
	width: 25%;
}

.useButton{
	width: 100%;
}

.battleItem_flame{
    width: 100%;
}
