@charset "UTF-8";
/*
 * 戦闘のキャラ選択ビュー
 * 製作者：松井 勇樹
 * 最終更新日:2017/06/06
 */
 /*背景の設定をする*/
#main{
	background-image: url(./../img/battle/chara_select_bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}
/*リンクの文字色の設定をする*/
a:link{
	color: #FFFFFF;
	text-decoration: none;
}
a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
a:active{
	color: #FFFFFF;
	text-decoration: none;
}
/*キャラの表示位置の設定*/
.chara_list{
	margin-top: 23vh;
	margin-left: 4%;
	margin-right: 2%;
}
/*看板の設定*/
.signboard_img{
	width: 35%;
	position: fixed;
	top: 13%;
	left: 0;
	z-index: 2;
}
/*キャラボタン同士の間隔を設定する*/
.button_margin{
	margin-bottom: 4%;
	width: 52vh;
}
/*キャラボタンの設定*/
.chara_button{
	position: relative;
	width: 87vw;
}
/*キャラボタンの下地の設定*/
.chara_button_frame_img{
	width: 104%;
	height: auto;
}
/*キャラアイコンの設定*/
.chara_icon{
	position: absolute;
	margin-top: -6.6%;
	margin-left: 2%;
	width: 23%;
	height: 74%;
	top: 0%;
	left: 0%;
}
/*アイコンの外枠の設定*/
.icon_frame{
	position: relative;
	width: 93%;
	top: 0%;
	left: 0%;
}
.icon_frame_margin{
	margin-top: 16%;
}
/*キャライメージ*/
.chara_image{
	position: absolute;
	width: 116%;
	top: 0%;
	left: 0%;
}
/*レアリティの表示*/
.rarity_bg{
	margin-top: 106%;
	position: absolute;
	width: 38%;
	height: auto;
	top: 0%;
	left: -4%;
}
.rarity{
	position: absolute;
	width: 28%;
	height: auto;
	top: 0%;
	left: 1%;
	margin-top: 112%;
}
/*キャラクターのステータスの表示*/
.chara_status{
	position: absolute;
	width: 77%;
	height: 107%;
	margin-left: 35%;
	top: 0%;
	left: 0%;
}
/*キャラの名前*/
.chara_name{
	position: absolute;
	font-size: 5vw;
	top: 7%;
	left: -2%;
}
/*HPの値の設定*/
.hp_value{
	position: absolute;
	font-size: 4.7vw;
	top: 52%;
	left: -4%;
}
/*手の値の設定*/
.goo_value{
	position: absolute;
	font-size: 4.7vw;
	top: 52%;
	left: 21%;
}
.cho_value{
	position: absolute;
	font-size: 4.7vw;
	top: 52%;
	left: 45%;
}
.paa_value{
	position: absolute;
	font-size: 4.7vw;
	top: 52%;
	left: 69%;
}
/*fontをCenturyに変更する*/
.font_sentury{
	font-family: Century;
}
/*fontをserifに変更する*/
.font_serif{
	font-family: serif;
}
.no_chara{
	font-size: 150%;
	color: white;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}
