@charset "UTF-8";
a:link { color : white; }
a:visited { color : white; }
th{ text-align: center; }

#main{
	width: 100%;
    height: 100vh;
    position: relative;
}

/* 背景画像 */
.battleresult_bg_win {
	background: no-repeat center center;
	background-size: 100% auto;
	width: 100%;
	position: fixed;
}
.battleresult_bg_lose {
	background: no-repeat center center;
	background-size: 100% auto;
	width: 100%;
	position: fixed;
}

/* バトルリザルトのログ部分 */
.battleresult_log {
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    width: 91%;
    margin: 0 auto;
}
/* 背景画像 */
.battleresult_log_bg {
	width: 100%;
	height: 81vw;
}
/* ログ */
.battleresult_log_message{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0;
    width: 80%;
    color: #ffffff;
    font-size: 5vw;
	margin: 3% auto;
}
.battleresult_log_message_money_img{
	width: 6%;
}
/* お金が増えた時の文字色 */
.battleresult_log_message_upcolor{
	color: #00FA9A;
}
/* お金が減った時の文字色 */
.battleresult_log_message_downcolor{
	color: #ff4444;
}
/* HP */
.battleresult_log_message_statusup_hp{
	width: 100%;
}
/* グー */
.battleresult_log_message_statusup_goo{
	width: 100%;
}
/* チョキ */
.battleresult_log_message_statusup_cho{
	width: 100%;
}
/* パー */
.battleresult_log_message_statusup_paa{
	width: 100%;
}
/* キャラの死亡画像 */
.battleresult_log_death{
	position: absolute;
	bottom: 1%;
}

/* 全体に対する、バックホームボタンの領域 */
.battleresult_backhome_linkregion{
    position: fixed;
    top: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30%;
}
/* バックホームボタン領域に対する、画像 */
.battleresult_backhome_icon{
	width: 100%;
}

/* フィーバタイム時のメッセージ表示、非表示 */
.cap:not(.act) {
	display:none;
}
.teijiFont{
	color: white;
    font-size: 5vw;
    position: fixed;
    top: 10%;
    left: 10%;
}
.battleresult_logo_win{
    display: inline-block;
    width: 60%;
    position: fixed;
    top: 14%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
}
.battleresult_logo_lose{
	display: inline-block;
    width: 60%;
    position: fixed;
    top: 14%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
}