@charset "UTF-8";
/*CSS Document*/
body{}

#main{
	background-image: url(http://esmile-sys.sakura.ne.jp/gladiator/img/battle/chara_select_bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}

.rareImg{
    width: 10%;
    position: absolute;
    top: 9%;
    left: 14%;
    z-index: 100;
}

.light{
	width: 16%;
    position: absolute;
    left: 11%;
    top: 6%;
    opacity: 0.8;
}
.modal .close {
	position: absolute;
    top: -1%;
    right: -1%;
    width: 15%;
    height: auto;
    cursor: pointer;
    z-index: 10000;
}
.name{
	position: absolute;
    left: 27%;
    top: 10%;
    font-family: serif;
	text-align: left;
	font-size: 5vw;
}

/* キャラクター画像のサイズ指定 */
.character{
    width: 45vw;
    position: absolute;
    top: 15%;
    left: 6%;
}

.button{
    position: absolute;
    bottom: 7%;
    left: 35%;
    width: 30%;
    height: auto;
}
.modal > div {
	position: relative;
	width: 100%;
}

.param_box {
    position: absolute;
    top: 29%;
    right: 3%;
}

.param_box > div {
	position: relative;
}

.param_box .icon_img{
    width: 35px;
    height: 35px;
    position: absolute;
    display: grid;
    right: 75px;
    margin-top: 7px;
}

.icon_hp {
	top: 0px;
}

.icon_goo {

	top: 50px;
}

.icon_cho {

	top: 100px;
}

.icon_paa {

	top: 150px;
}

.param_box .param_text {
	position: absolute;
	right: 35px;
	text-shadow: 1.5vw 0.5vw 1vw black, 0.5vw 1vw 0.5vw rgba(0,0,0,0.8);
    font-family: 'Century';
	font-style: italic;
}

.text_hp {
	top: 10px;
	color: #7FFF7E;
}

.text_goo {
	top: 60px;
}

.text_cho {
	top: 110px;
}

.text_paa {
	top: 160px;
}