@charset "UTF-8";
/*CSS Document*/
body{}

/* レア度画像のサイズ指定 */
.rare{

}

/* キャラクター画像のサイズ指定 */
.character{
	width: 60%;
	position: absolute;
	top: 30px;
	left: 12%;
}

/* コーチ画像のサイズ指定 */
.coach{
	width: 18%
}

.rareImg{
	width: 10%;
	position: absolute;
	left: 20%;
}

.name{
	position: absolute;
	left: 35%;
}

.status{
	position: absolute;
	top: 100px;
	right: 15%;
}

.retire{
	position: absolute;
	width: 100%;
	top: 340px;
}

.button{
	position: absolute;
	left: 35%;
	width: 30%;
	height: auto;
}

.text{
	position: absolute;
	top: 22%;
	width: 100%;
	color: silver;
}