@charset "UTF-8";
/*CSS Document*/
body{}

/* レア度画像のサイズ指定 */
.rare{

}

/* キャラクター画像のサイズ指定 */
.character{
	width: 70%;
	position: absolute;
	top: 18px;
	left: 30px;
}

/* コーチ画像のサイズ指定 */
.coach{
	width: 18%
}

.rareImg{
	width: 10%;
	position: absolute;
	left: 60px;
}

.name{
	position: absolute;
	left: 140px;
}

.status{
	position: absolute;
	top: 130px;
	right: 60px;
}

.retire{
	position: absolute;
	top: 380px;
	left: 180px;
}