.coachSelect_display{
    position: relative;
    width:100%;
}

.coachSelect_back{
    position: fixed;
    background: no-repeat center;
    background-size: 100% auto;
    width: 100%;
    margin-top: -30%;
}

.coachSelect_signboard{
    position : fixed;
    width    : 35%;
    top	     : 13%;
    left     : 0;
    z-index: 4;
}

.coachSelect_signboard_info{
    position	: fixed;
    top		: 13%;
    left	: 24%;
    width	: 77%;
    z-index: 3;
}

.coachSelect_signboard_text{
    position: absolute;
    top: 15%;
    left:20%;
}

.coachSelect_all{
    width: 100%;
    margin: 47% auto;
}

.coachSelect_text{
    position	: relative;
    font-family :'Century';
    color	: #FFFFFF;
    z-index: 1;
}

.coachName_text{
    position	: relative;
    font-family :'Century';
    color	: #FFFFFF;
    font-size	: 75%; 
    z-index	: 1;
}

.coach_name{
    position: absolute;
    top	    : 10%;
    left    : 32%;
    color   : #FFFFFF;
}

.coach_icon{
    position: absolute;
    top	    : -10%;
    left    : 3%;
    width   : 23%;
}

.coach_window{
    position	    : relative;
    margin-top	    : 5%;
    margin-left	    : 4%;
    margin-right    : 4%;
}

.coach_goo_atk{
    position: absolute;
    top     : 60%;
    left    : 34%;
    color   :#ffffff;
}

.coach_cho_atk{
    position: absolute;
    top     : 60%;
    left    : 58%;
    color   :#ffffff; 
}

.coach_paa_atk{
    position: absolute;
    top     : 60%;
    left    : 82%;
    color   :#ffffff; 
}

.training_submit{
    position: absolute;
    left: 0%;
    right: 0;
    width: 20%;
    margin: 0 auto;
    margin-top: 73%;
}

.training_fee_img{
    position: absolute;
    margin-top: -33%;
    margin-left: 38%;
    width: 35%;
}

.training_fee_text{
	position: absolute;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    margin-top: 67%;
    font-size: 6vw;
    width: 30%;
}

.training_goo_up_probability{
    position: absolute;
    top	    : 200%;
    left    : 25%
}

.training_cho_up_probability{
    position: absolute;
    top	    : 200%;
    left    : 45%
}

.training_paa_up_probability{
    position: absolute;
    top	    : 200%;
    left    : 65%
}

.atkUpProbabilityPopup{
    position: absolute;
    top	    : 10%;
    left    : 83%;
    width   : 15%;
}

.coachSelect_reritybg{
    margin-top: 106%;
    position: absolute;
    width: 38%;
    height: auto;
    top: -12%;
    left: -10%;
}

.coachSelect_rerity{
    position: absolute;
    width: 28%;
    height: auto;
    top: 0%;
    left: -5%;
    margin-top: 95%;
}

.fee_shortage_text{
    color:#FF0000;
}

.coachSelect_font_serif{
    font-family: serif;
    font-size	: 2.0vh;
    color: #ffffff;
}

.training_a_none{
    pointer-events: none;
}

.scale_img{
    position: absolute;
    opacity: 0.7;
    z-index:2;
}

.traing_time{
    position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
    font-family: serif;
    font-size: 8.0vh;
    color: #ffffff;
	text-align: center;
    z-index: 10;
}