.coachselecter > div > div > font{
	color: #FFFFFF;
	text-decoration: none;
}

.coachselecter > div > font {
	color: #FFFFFF;
	text-decoration: none;
}

.text{
	position: absolute;
	top: 18%;
	color: silver;
}

.button{
	width: 32%;
	position: absolute;
}

.button.retire{
	left: 15%;
}

.button.back{
	right: 15%
}
