#main{
	
	background-image:
		url(http://esmile-sys.sakura.ne.jp/gladiator/img/gacha/selectbackground.png);
	/* 画像を常に天地左右の中央に配置 */
	background-position: center center;
   
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;
   
	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;
   
	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
	
	width: 100%;
	height:100vh;
}
.all{
	width:100%;
    position: absolute;
	
}
.char{
	width: 80%;
    text-align: center;
}
.rate{ 
	width: 20%;
    position: absolute;
    bottom: 3%;
    left: 36%;
    z-index: 2;
}
.waku{
	width: 80%;
    position: absolute;
    margin: auto;
    position: absolute;
    top: 100vw;
    left: 8%;
}
.waku1{
	width:100%;
	vertical-align: bottom; 
}
.waku2{
	width:100%;
	vertical-align: bottom; 
}
.waku3{
	width:100%;
	vertical-align: bottom; 
}
.name{
	color: #FFFFFF;

}
.hp{
	color: #FFFFFF;
}
.font{
	float: left;
	color: #FFFFFF;
}
.textbox{
    font-size: 5vw;
    position: absolute;
    top: 104vw;
    left: 13%;
}
.flash{
    text-align: center;
    width: 80%;
    position: relative;
    top: 55px;
}
.charabox{
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 0;
}
.chara{
	position: absolute;
	top: 24px;
}
.logo{
    text-align: center;
    width: 80%;
    position: absolute;
    top: 96%;
    left: 8%;
    z-index: 3;
}
.all{
	width: 100%;
 }
