#main{
	
	background-image:
		url(http://esmile-sys.sakura.ne.jp/gladiator/img/gacha/selectbackground.png);
	/* 画像を常に天地左右の中央に配置 */
	background-position: center center;
   
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;

	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
	
	width: 100%;

}
.gacha_charalogo{
	width: 100%;
	
}
.gacha_all{
	width:100%;
	position: absolute;
}
.gacha_charabox{
	text-align: center;
	position: absolute;
	top: 9%;
	z-index: 0;
}
.gacha_charaflash{
	width: 80%;
	position: relative;
	top: 12vw;
}
.gacha_charapos{
	position: absolute;
	top: 0px;
}
.gacha_chara{
	width: 80%;
	text-align: center;
	position: relative;
	top: 6vw;
}
.gacha_chararate{ 
	width: 20%;
	position: absolute;
    top: 10%;
	left: 3%;
	z-index: 2;
}
.gacha_charalogoflash{
	width: 50%;
	position: absolute;
	top: -8%;
	left: -14%;
	z-index: 1;
}
.gacha_charaframe{
	width: 85%;
	position: absolute;
	top: 65%;
	left: 7%;
}
.gacha_charatopframe{
	width:100%;
	vertical-align: bottom; 
}
.gacha_characenterframe{
	width:100%;
	vertical-align: top;
}
.gacha_charabottomframe{
	width:100%;
	vertical-align: bottom; 
}
.gacha_charatextbox{
	text-align: center;
	font-size: 140%;
	position: absolute;
	top: 65%;
 }
.gacha_charaname{
	font-size: 108%;
	color: #FFFFFF;
}
.gacha_hpicon{
	width: 10%;
}
.gacha_charahp{
	position: relative;
	left: -21%;
	color: #FFFFFF;
}
.gacha_charastatus{
	float: left;
	color: #FFFFFF;
	position: relative;
	top: -2vw;
}
.gacha_guicon{
	width: 10%;
}
.gacha_fontgoo{
	position: relative;
	bottom: 3vw;
}
.gacha_chokiicon{
	width: 10%;
}
.gacha_fontchoki{
	position: relative;
	bottom: 3vw;
}
.gacha_paaicon{
	width: 10%;
}
.gacha_fontpaa{
	position: relative;
	bottom: 3vw;
}
#entryBtn{
	opacity: 0;
}
#check1:checked ~ #entryBtn{
	opacity: 1;
}