#main{
	position: relative;
}
.gacha_roadback{
	background: no-repeat center center;
    background-size: 100% auto;
    width: 100%;
	margin-top: -20%;
    position: fixed;
}
.gacha_roadbutton{
	opacity: 0.0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 136%;
	left: 0;
}
.album{
    margin: 0 auto;
    position: fixed;
    top: 22%;
    left: 0%;
    right: 0%;
    width: 75%;
}
.album img{
	animation: album 2s infinite;
	width: 100%;
	opacity: 0;
}
@keyframes album {
	10% {opacity:0}
	20% {opacity:1}
	40% {opacity:1}
	50% {opacity:0}
}
.album .img1{
	animation-delay: 0.5s;
}
.album .img2{
	animation-delay:1s;
	position: absolute;
	top: 0;
	left: 0%;
}
.album .img3{
	animation-delay:1.5s;
	position: absolute;
	top: 0;
	left: 0%;
}
.album .img4{
	animation-delay:2s;
	position: absolute;
	top: 0;
	left: 0%;
}
.gacha_roadbotton{
	width: 100vw;
    height: 83vh;
}
