#main{
    position: relative;
}
/* アイテム一覧全体 */
.itemlist{
	margin-top: 23vh;
	margin-left: 2%;
	margin-right: 2%;
}
/* アイテム枠の間隔 */
.itemlist_margin{
	margin-bottom: 4%;
	width: 52vh;
}
/* アイテム枠領域 */
.itemlist_flame{
	position: relative;
	width: 96vw;
}
/* アイテム枠画像 */
.itemlist_flame_img{
	width: 100%;
}
/* 購入ボタン領域 */
.itemlist_flame_item{
	position: absolute;
	top: 15%;
	left: 4%;
	width: 15%;
}
/* 購入ボタン画像 */
.itemlist_flame_item_img{
	width: 100%;
}
/* アイテム名前 */
.itemlist_flame_name{
	position: absolute;
	top: 5%;
	left: 25%;
	width: 45%;
    font-family: serif;
    font-size: 4.0vh;
    color: #240404;
	margin: 0 auto;
}
/* 購入ボタン領域 */
.itemlist_flame_button{
	position: absolute;
	top: 5%;
	right: 1%;
	width: 26%;
}
/* 購入ボタン画像 */
.itemlist_flame_button_img{
	width: 100%;
}
/* 金額領域とテイスト */
.itemlist_flame_price{
	position: absolute;
	bottom: 16%;
	right: 5%;
	width: 25%;
	font-family: serif;
    font-size	: 2.8vh;
    color: #ffffff;
	text-align: right
}
/* 所持数領域とテイスト */
.itemlist_flame_belongings{
	position: absolute;
	bottom: 16%;
	right: 44%;
	width: 25%;
	font-family: serif;
    font-size	: 2.8vh;
    color: #ffffff;
	text-align: right
}