@charset "UTF-8";
/*CSS Document*/
/*btn*/
.modal_container {
  color: #ccc;
  text-align: center;
  padding-bottom:0px;
}
.modal_btn {
  /*border: 1px solid #7a7a7a;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #666;*/
}
.md-btn:hover {
  background-color: #6e6e6e;
}
/* ****************
 * Modal window
 * *************** */
.modal {
  display: none;
  position: fixed;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  padding: 60px 5% 5%;
  border-radius: 30px;
  /*background-color: #aaa;*/
  color: #fff;
  text-align: center;
  font-size: 20px;
  z-index: 10000;
}
/* Close button design */
.modal .close {
	position: absolute;
	border-radius: 20px;
	top: 47px;
	right: 6px;
	width: 40px;
    height: 50px;
	/* background-color: #555; */
	cursor: pointer;
}
.modal .close:before,
.modal .close:after{
  position:absolute;
  top:4px;
  /*border:1px solid #fff;*/
  height:30px;
  content:"";
}
.modal .close:before {
  left:19px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal .close:after {
  right:19px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal .close span {
  display:none;
}
.modal .modal_frametop{
	width:100%;
	vertical-align: bottom; 
}
.modal .modal_framemiddle{
	width:100%;
	vertical-align: bottom; 
    height: 56vw;
}
.modal .modal_framebottom{
	width:100%;
	vertical-align:bottom; 
}
.modal .modal_window{
    width: 100%;
    position: absolute;
    left: 0;
    top: 15%;
}
.modal .modal_closebutton{
	width: 100%;
	position: relative;
    top: 20%;
    right: 20%;
}

