@charset "UTF-8";
/*CSS Document*/

/*MyPage*/

/*content*/

#mypage_content{
	width: 100%;
	max-width: 720px;
	margin: 80px 0px;
}

.mypage_character_img{
	width: 100%;
	max-width: 320px;
	height: auto;
	margin: 0px auto;

}

.mypage_character_img img{
	width: 100%;
	max-width: 320px;
	border-width: 8px;
	border-color: #a79c5d;
	border-style: ridge;
}

.mypage_character_name{
	border-width: 8px;
	border-color: #979797;
	border-style: ridge;
	width: 100%;
	max-width: 240px;
	height: 48px;
	margin: 24px auto 0px auto;
	line-height: 2;

}

.comment{
	border-width: 8px;
	border-color: #979797;
	border-style: ridge;
	width: 100%;
	max-width: 400px;
	height: 80px;
	margin: 24px auto 0px auto;
	text-align: left;
	padding: 8px;
 }
 
 html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}


 #main{
     background: url(./../img/mypage/homeImage.jpg) no-repeat center center;
     background-size: 100% auto;
     width: 100%;
     position: fixed;
 }

 .mypage_board{

	width: 33%;
	position: fixed;
	margin-top: 1%;
}

.user_chara{
	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	width: 80%;
	margin: 0 auto;
}

.test{
    position: fixed;
    top: 20%;
    left: 5%;
    right: 0;
    width: 10%;
}

.cap:not(.act) {
	display:none;
}

.fever{
	position: fixed;
    top: 19%;
    right: 1%;
    width: 22%;
}

.fever_img{
	display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.fever_text{
	position: fixed;
    top: 25%;
    left: 88%;
    color: white;
    font-size: 3vw;
	font-family: serif;
}