@charset "UTF-8";
/*CSS Document*/

/*NewPage(新規ユーザー登録)*/

.new_content{
    width: 100%;
    max-width: 480px;
    margin: 80px auto;
}

.new_content_wrrap{
    text-align: center;
}

form{
    font-size: 24px;
    width: 100%;
}

.form p{
    font-size: 16px;
    margin: 0 0 11px;
}

input{
    height: 32px;
}

/*Newpage button-first*/
.registration_button{
    width: 100%;
    max-width: 160px;
    height: 46px;
    margin: 40px auto 0px auto;
    position: relative;
    background-color: #1abc9c;
    border-radius: 24px;
    color: #fff;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    font-size: 24px;
}

.registration_button a{
    color: white;
    text-decoration: none;
}

.registration_button:hover{
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
    text-decoration: none;
}

.registration_button:active{
    top: 3px;
    box-shadow: none;
}

/*Newpage button-second*/
.return_top_button{
    width: 100%;
    max-width: 160px;
    height: 46px;
    margin: 40px auto 0px auto;
    position: relative;
    background-color: #1abc9c;
    border-radius: 24px;
    color: #fff;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    font-size: 24px;
}

.return_top_button a{
    color: white;
    text-decoration: none;
}

.return_top_button:hover{
    background-color: #31c8aa;
    text-decoration: none;
}

.return_top_button:active{
    top: 3px;
    box-shadow: none;
}
