#main{
    position : relative;
}

.present_signboard{
    position : fixed;
    width    : 35%;
    top	     : 13%;
    left     : 0;
    z-index  : 4;
}

.present_signboard_info{
    position	: fixed;
    top		: 13%;
    left	: 24%;
    width	: 77%;
    z-index: 3;
}

.present_back{
    position	    : fixed;
    background	    : no-repeat center;
    background-size : 100% auto;
    width	    : 100%;
}

.presentbox_text{
    color: black;
    font-size: 6vw;
    font-family: serif;
}

.present_all{
    margin-left: 1vw;
    margin-right: 1vw;
}

.no_present_text{
    position: fixed;
    top	  : 20%;
    color : #ffffff;
}

.present_chara_icon{
    position : absolute;
    top	     : 9%;
    left     : 4%;
    width    : 15%;
}

.present_item_icon{
    position : absolute;
    top	     : 10%;
    left     : 3%;
    width    : 17%;
}

.present_flame{
    position : relative;
}

.present_button{
    position : relative;
    margin-bottom: 2vh;
}

.present_receive_button{
    position : absolute;
    top: 35%;
    left: 73%;
    width: 26%;
}

.present_receive_all_button{
    position: relative;
    margin-top: 20vh;
    margin-left: 70vw;
    margin-right: 1vw;
    margin-bottom: auto;
    width: 25%;
}

.present_button_item_text{
    position: absolute;
    z-index: 1;
    top: 14%;
    left: 23%;
}