#main{
	background-image: url(http://esmile-sys.sakura.ne.jp/gladiator/img/battle/chara_select_bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}

div.text{
	text-align: center;
	color: silver;
}

.backButton{
	position: absolute;
	top: 70%;
	right: 35%;
	width: 30%;
}

.textfont{
	font-family: serif;
	font-size: 26px;
	color: #FFFFFF;
	text-align: center;
	margin: 60px 0 0 0;
}

