@charset "UTF-8";
/*CSS Document*/
body{}

/* ボタン部分の領域 */
.surrender_button{
    position: absolute;
    top: 200%;
    width: 100%;
}
/* はいボタン画像領域 */
.surrender_button_yes {
    width: 100%;
}
/* いいえボタン画像領域 */
.surrender_button_no {
    width: 100%;
}
/* いいえボタン画像領域 */
.surrender_costOver {
    color: #ff4444;
}