@charset "UTF-8";
/*CSS Document*/
/*TopPage*/

.top_content{
    max-width: 480px;
    margin: 80px 0px;
}

.title_logo{
    width: 85%;
    position: absolute;
    top: 20%;
    left: 8%;
}
.top_button{
    width: 100%;
    max-width: 240px;
    height: auto;
    text-align: center;
}
/* 点滅 */
.flashing{
	-webkit-animation:flash 0.7s ease-in-out infinite alternate;
    -moz-animation:flash 0.7s ease-in-out infinite alternate;
    animation:flash 0.7s ease-in-out infinite alternate;
}
@-webkit-keyframes flash{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes flash{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes flash{
    0% {opacity:0;}
    100% {opacity:1;}
}
/*top-login-button*/
.top_login{
    width: 50%;
    position: relative;
	top: 135vw;
}
.center{
	width: 84%;
    height: auto;
	margin: 0 auto;
    text-align: center;
	z-index:100;
    position: relative;
	top: 27vw;
}
.top_back{
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;
   
	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;
   
	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
    
    width: 100%;
	position: fixed;
}
.top_imgloginbutton{
	margin: 0 auto;
    text-align: center;
}
