@charset "UTF-8";
/*CSS Document*/
/*TopPage*/

.top_content{
    max-width: 480px;
    margin: 80px 0px;
}

.title_logo{
    height: 400px;
    margin: 0px auto;
    width: 450px;
}

.top_button{
    width: 100%;
    max-width: 240px;
    height: auto;
    margin: 0px auto;
    text-align: center;
}

/*top-login-button*/
.top_login{
    width: 100%;
    max-width: 240px;
    height: 56px;
    position: relative;
    background-color: #1abc9c;
    border-radius: 4px;
    color: #fff;
    line-height: 52px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    margin-top: 80px; 
    border-radius: 24px;
}

.top_login a{
    color: white;
    text-decoration: none;
}

.top_login:hover{
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
    text-decoration: none;
}

.top_login:active{
    top: 3px;
    box-shadow: none;
}



