#main{
    
    background-image:
	    url(http://esmile-sys.sakura.ne.jp/gladiator/img/gacha/gachabackground.jpg);
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;

    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;

    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;

    width: 100%;
}

.training_display{
    position : relative;
    width    :100%
}

.training_text{
    position	: relative;
    font-family :'Century';
    color	: #FFFFFF;
    z-index	: 2;
}

.training_signboard{
    position : fixed;
    width    : 35%;
    top	     : 13%;
    left     : 0;
    z-index  : 2;
}

.training_all{
    top		   : 20%;
    width	   : 100%;
    position	   : absolute;
    padding-bottom : 60px;
}

.training_chara_button{
    position	    : relative;
    width	    : 100%;
    border-top	    : solid 5px transparent;
    border-bottom   : solid 5px transparent;
}
