#main{
    
    background-image:
	url(http://esmile-sys.sakura.ne.jp/gladiator/img/gacha/gachabackground.jpg);
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    
    width: 100%;
}

.training_signboard{
    width: 35%;
    position: relative;
    top: 0%;
    left: 0px;
}

.training_charalist{
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 2%;
}

.training_text{
    font-family:'Century';
    font-size: 2.6vh;
}

.training_a_none{
    pointer-events: none;
}

.scale_img{
    position: absolute;
    opacity: 0.7;
    z-index: 1;
}